@font-face {
    font-family: 'Vazir';
    src: url('../fonts/font/Vazir.eot');
    src: url('../fonts/font/Vazir.eot?#iefix') format(embedded-opentype),
    url('../fonts/font/Vazir.woff2') format('woff2'),
    url('../fonts/font/Vazir.woff') format('woff'),
    url('../fonts/font/Vazir.ttf') format('truetype');
}

body {
    font-family: "vazir" !important;

}


{
    font-size: 17px
;
    color: #fff
;
    background-color: #a12c2f
;
    padding: 12px 30px
;
    display: inline-block
;
    border-radius: 22px
;
    font-weight: 500
;
    text-transform: uppercase
;
    transition: all .3s
;
    border: none
;
    outline: none
;
}

/*

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

*/

/* ---------------------------------------------
Table of contents
------------------------------------------------
01. font & reset css
02. reset
03. global styles
04. header
05. banner
06. features
07. testimonials
08. contact
09. footer
10. preloader
11. search
12. portfolio

--------------------------------------------- */
/* 
---------------------------------------------
font & reset css
--------------------------------------------- 



*/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

header,
nav,
section,
article,
aside,
footer,
hgroup {
    display: block;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #fff;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
    color: #fff;
}

a:hover {
    color: #FC3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    margin-bottom: 0px;
}

p {
    font-size: 14px;
    line-height: 25px;
    color: #2a2a2a;
}

img {
    width: 100%;
    overflow: hidden;
}

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
html,
body {
    background: #fff;
    font-family: 'Poppins', sans-serif;
}

::selection {
    background: #f5a425;
    color: #fff;
}

::-moz-selection {
    background: #f5a425;
    color: #fff;
}

@media (max-width: 991px) {

    html,
    body {
        overflow-x: hidden;
    }

    .mobile-top-fix {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .mobile-bottom-fix {
        margin-bottom: 30px;
    }

    .mobile-bottom-fix-big {
        margin-bottom: 60px;
    }
}

.main-button-red a {
    font-size: 13px;
    color: #fff;
    background-color: #a12c2f;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 22px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s;
}

.main-button-red a:hover {
    opacity: 0.9;
}

.main-button-yellow a {
    font-size: 13px;
    color: #fff;
    background-color: #f5a425;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 22px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s;
}

.main-button-yellow {
    font-size: 13px;
    color: #fff;
    background-color: #f5a425;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 22px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s;
}

.main-button-yellow a:hover {
    opacity: 0.9;
}

.section-heading h2 {
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(250, 250, 250, 0.15);
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}


/* 
---------------------------------------------
header
---------------------------------------------





*/

/********************** puya bootstrap start ***********************************/

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
}

/************************* quiz - page start ******************************/

/*.my-counter h4::before{*/
/* counter-increment: my-sec-counter;*/
/* content: counter(my-sec-counter) "- ";*/
/*}*/

.quiz {
    display: none;
}

.quiz input {
    width: 20px;
    height: 20px;
    color: #0fbe7e;
}

.quiz.active {
    display: flex;
}

.quiz-result {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 30%;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translateY(-300%);
    transition: all 1s linear;
}

.quiz-result.active {
    transform: translateY(0);
    display: flex;
}

.quiz-result2 {
    display: none;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 30%;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 10%;
    left: 35%;
    transition: all 2s linear;
}

.quiz-result2.active {
    display: flex;
}

.quiz-result p {
    font-size: 17px;
}

.quiz-result #register-button {
    font-size: 14px;
    color: #fff;
    padding: 5px 18px;
    background-color: #a12c2f;
    border: none;
    outline: none;
    border-radius: 15px;
    margin-top: 20px;
    animation: animate 1s linear infinite;
    /*transition: all 1s;*/
}

.quiz-result #game-button {
    font-size: 14px;
    color: #fff;
    padding: 5px 18px;
    background-color: #0fbe7e;
    border: none;
    outline: none;
    border-radius: 15px;
    margin-top: 20px;
    animation: animate2 1s linear infinite;
}

.quiz-timer {
    display: flex;
    position: fixed;
    top: 20px;
    left: 100px;
}

.quiz-timer.deactive {
    display: none;
}

.quiz-timer img {
    width: 40px;
    height: 40px;
}

.quiz-info p {
    display: inline-block;
    padding: 7px 18px;
    margin: 7px 2px;
    background-color: #f3f3f3;
    border-radius: 20px;
}

/*exam*/

.exam button {
    padding: 10px 70px;
    background-color: #ffa459;
    border: none;
    border-radius: 30px;
}

.quiz-profile {
    display: flex;
    align-items: center;
}

.quiz-profile .image-profile2 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
}

/************ quiz information start ***********/


.lesson-title {
    cursor: pointer;
}

.lesson-title1 {
    position: absolute;
    top: -69px;
    right: 0;
    opacity: 0.15;
    background-color: white;
    border: 2px solid orange;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom: none;
    z-index: 5 !important;
}

.lesson-title2 {
    position: absolute;
    background-color: white;
    opacity: 0.15;
    top: -71px;
    right: 160px;
    /*padding-left: 10%;*/
    border: 2px solid orange;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom: none;
    display: inline-block;
    z-index: 4;
}

.lesson-title3 {
    background-color: white;
    opacity: 0.15;
    position: absolute;
    top: -69px;
    right: 320px;
    border: 2px solid orange;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom: none;
    display: inline-block;
    z-index: 3;
}

.lesson-title4 {
    background-color: white;
    opacity: 0.15;
    position: absolute;
    top: -69px;
    right: 528px;
    border: 2px solid orange;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom: none;
    display: inline-block;
    z-index: 2;
}

.title-active {
    opacity: 1;
    top: -69px;
}

.quiz_information img{
    width: 37px;
    height: 37px;
    margin-left: 20px;
}

.quiz_information .my-table{
    border: 2px solid orange;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
    /*border-bott: 1px solid red;*/
}

.quiz_information .my-table .bi-emoji-smile {
    color: #21ef24;
}

.quiz_information .my-table .bi-emoji-neutral {
    color: #f34f13;
}

.quiz_information .my-table .bi-1-circle {
    color: rgba(107, 155, 231, 0.89);
}


.lessons .riazi,
.lessons .english,
.lessons .all-lessons,
.lessons .average {
    display: none;
}

/************* quiz information start **********/



/************* quiz analyses start **********/

.quiz_analysis .lesson-title {
    cursor: pointer;
}

.quiz_analysis .lesson-title1 {
    position: absolute;
    top: -69px;
    right: 0;
    opacity: 0.15;
    background-color: white;
    border: 2px solid orange;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom: none;
    z-index: 5 !important;
}

.quiz_analysis .lesson-title2 {
    position: absolute;
    background-color: white;
    opacity: 0.15;
    top: -71px;
    right: 160px;
    /*padding-left: 10%;*/
    border: 2px solid orange;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom: none;
    display: inline-block;
    z-index: 4;
}

.quiz_analysis .lesson-title3 {
    background-color: white;
    opacity: 0.15;
    position: absolute;
    top: -69px;
    right: 320px;
    border: 2px solid orange;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom: none;
    display: inline-block;
    z-index: 3;
}

.quiz_analysis .lesson-title4 {
    background-color: white;
    opacity: 0.15;
    position: absolute;
    top: -69px;
    right: 528px;
    border: 2px solid orange;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom: none;
    display: inline-block;
    z-index: 2;
}

.quiz_analysis .title-active {
    opacity: 1;
    top: -69px;
}

.quiz_analysis img {
    width: 37px;
    height: 37px;
    margin-left: 20px;
}

.quiz_analysis .my-table {
    border: 2px solid orange;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
    /*border-bott: 1px solid red;*/
}

.quiz_analysis .lessons .riazi,
.quiz_analysis .lessons .english,
.quiz_analysis .lessons .all-lessons,
.quiz_analysis .lessons .average {
    display: none;
}

.quiz_analysis .lessons .farsi,
.quiz_analysis .lessons .riazi,
.quiz_analysis .lessons .english,
.quiz_analysis .lessons .all-lessons,
.quiz_analysis .lessons .average {
    /*background-color: #fff;*/
    /*width: 100%;*/
    /*border-radius: 15px;*/
    /*height: 500px;*/
}

.quiz_analysis .lessons .table-responsive .my-table img{
    /*width: 500px;*/
    /*height: 350px;*/
    width: 40%;
    height: auto;
}

/************* quiz analyses end **********/

/******************************** quiz - page - end ***********************************/


/* ********************************** student analysis start *********************************/

/* ********************************** game analysis end **************************************/

.student-analysis {
    height: 100%;
    background-image: url(../images/meetings-bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 140px;
}

/* ********************************** game start **************************************/


.game-container {
    height: 100%;
    background-image: url(../images/meetings-bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 140px;
}

.alert-score-container {
    height: 100vh;
    background-image: url(../images/meetings-bg.jpg);
}


.title {
    width: 300px;
    height: 50px;
    background-color: #ffffff;
    margin: 30px auto 0;
    border-radius: 8px;
}

.mark1,
.time,
.play {
    width: 33%;
}

.title .play i {
    font-size: xx-large;
    color: #3fbd31;
}

.game-wrapper-container {
    width: 300px;
    margin: 30px auto 0;
    border-radius: 8px;
}

.game-wrapper {
    width: 300px;
    margin: 30px auto 0;
    border-radius: 8px;
}

.grid {
    width: 300px;
    height: 300px;
    display: flex;
    flex-flow: row wrap;
    border-radius: 18px;
}

.info-panel {
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
    font-size: 24px;
}

.info-panel .red {
    color: darkred;
}

.info-panel .green {
    color: darkgreen;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-color: #4985bd;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    transform-style: preserve-3d;
    /*backface-visibility: hidden;*/
    color: #ddd;
}

.cell::after {
    width: 100%;
    height: 100%;
    background-color: #339a76;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotateY(180deg);
}

.cell.hide {
    transform: rotateY(180deg);
    color: #339a76;
}

.game-img-lock {
    width: 25px !important;
    height: auto;
}

.owl-service-item .item ul li i {
    color: #f5a425;
    font-size: 14px;
}

.owl-service-item .item .icon .main {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 5%;
}


.owl-service-item .item .icon .lock {
    width: 25px;
    height: 25px;
    position: absolute;
    top: -10px;
    left: 5px;
    transform: rotateY(45deg);
}


/* ****************************** game end ****************************************/

/* ************************* puya config  start ***********************************/


.lock-chain {
    position: absolute;
    top: 0;
    left: 0;
    width: 48%;
    height: auto;
}

.lock-chain img {
    width: 100%;
    height: auto;
}

.lock-chain2 {
    position: absolute;
    bottom: 16%;
    left: 0;
    width: 100%;
    height: auto;
}

.lock-chain2 img {
    width: 100%;
    height: auto;
}

.tests .test-item {
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    padding: 50px 30px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    transition: all .3s;
}

.tests .test-item .service-item {
    box-shadow: rgba(109, 61, 244, 0.6) !important;
}

.tests .test-item:hover {
    transform: scale(1.06);
}

.tests .test-item .test-icon {
    max-width: 75px;
    margin: 0 auto;
    min-height: 80px;
    line-height: 80px;
    vertical-align: middle;
}

.tests .test-item h4 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}

.tests .test-item a {
    color: #030c11;
}

.tests .test-item a:hover {
    color: #f5a425;
}

.tests .test-item .service-item ul li {
    display: inline-block;
    margin-right: 1px;
    /* box-shadow: rgba(254, 251, 251, 0.4); */
}


.tests .test-item .service-item ul li i {
    color: #f5a425;
    font-size: 14px;
}

.test-level i {
    font-size: 25px;
    /*color: #696868;*/
    color: #4ba9f6;
}

.test-level p {
    color: #696868;
}

.number_do_test i,
.number_do_test p,
.number_do_test h6 {
    color: #696868;
}

.popup-test-container {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
}

.popup-test-container.active {
    display: flex;
}

.popup-test {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 30%;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}

.popup-test .close {
    position: absolute;
    top: 8px;
    right: 8px;
}

.popup-test .close i {
    font-size: 30px;
    color: #a12c2f;
}

.popup-test p {
    font-size: 17px;

}


.popup-test #register-button {
    font-size: 14px;
    color: #fff;
    padding: 5px 18px;
    background-color: #a12c2f;
    border: none;
    outline: none;
    border-radius: 15px;
    margin-top: 20px;
    animation: animate 1s linear infinite;
    /*transition: all 1s;*/
}

@keyframes animate {
    0% {
        background-color: #a12c2f;
    }
    100% {
        background-color: rgba(229, 55, 32, 0.6);
    }
}

.popup-test #game-button {
    font-size: 14px;
    color: #fff;
    padding: 5px 18px;
    background-color: #0fbe7e;
    border: none;
    outline: none;
    border-radius: 15px;
    margin-top: 20px;
    animation: animate2 1s linear infinite;
}

@keyframes animate2 {
    0% {
        background-color: #0fbe7e;
    }
    100% {
        background-color: rgba(77, 161, 28, 0.6);
    }
}

/* ------------ popup config end ------------- */

/*------------ bootstrap 5 --------------*/

.form-check {
    /*display: flex !important;*/
    direction: rtl !important;
}


.counter-douwn-container {
    position: absolute;
    top: 20%;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 200px;
}

.counter-douwn-container .counter-douwn-items {
    position: absolute;
    top: 30%;
    right: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}

.counter-douwn-container .counter-douwn-items p,
.counter-douwn-container .counter-douwn-items span {
    font-size: 2rem;
    text-align: center;
    color: rgb(188, 13, 13);
}

.navForHamberger {
    /* position: relative; */
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ffffff;
    width: 350px;
    height: 100vh;
    z-index: 1150;
    transform: translateX(100%);
    transition: 1s;
}

.navForHamberger.active {
    transform: translateX(0);
}

.header-signup-button a {
    color: white;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(195, 189, 212, 0.6);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
    transition: all 1s;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.header-icons {
    display: flex;
    align-items: center;
}

.header-icons .fa-shopping-bag {
    margin-top: 20px;
    margin-right: 10px;
}

.header-signup-button {
    /* position: absolute; */
    left: 10px;
    /* display: flex; */
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    background-color: #a12c2f;
    padding: 8px;
    margin-top: 20px !important;
    box-shadow: 0 .125rem 0.25rem rgba(0, 0, 0, 0.75);
}

.header-signup {
    display: flex;
    /* background-color: #f7f7f7;
    border-end-start-radius: 25px; */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-signup i {
    font-size: 30px;
}

.contact-us {
    position: absolute;
    top: 10%;
    left: 30%;
    /* background-color: rgb(246, 95, 95); */
    border-radius: 100px;
    /* box-shadow: 0 .125rem 0.25rem rgba(0,0,0,0.75); */
    width: 400px;
    height: 400px;
    /*display: none;*/
    /*opacity: 0;*/
    z-index: 1200;
    transition: all 2s linear;
}

.contact-us.active {
    display: block;
    opacity: 1;
}

/*----------------------------------   profile start --------------------------------*/
.image-profile {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 7px;
    left: 40px;
    border: 3px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}

.image-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile {
    position: absolute;
    top: 120px;
    left: 30px;
    width: 220px;
    padding: 14px;
    background-color: #fff;
    border-radius: 6px;
    /*z-index:100;*/
    opacity: 0;
    transition: all .4s;
}

.profile.active {
    opacity: 1;
    top: 90px;
    /*transform: translateY(10%);*/
}

.profile::before {
    position: absolute;
    top: -8px;
    left: 30px;
    content: '';
    width: 19px;
    height: 19px;
    background-color: #fff;
    transform: rotate(45deg);
    z-index: -1;
}


.profile ul {
    width: 100%;
    height: 100%;
}

.profile ul li {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #ccccccb8;
    padding: 5px 0;
    align-items: center;
}

.profile ul li:nth-child(6) {
    border-bottom: none;
}

.profile ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #858585;
}

.profile ul li:hover {
    background-color: #f2f2f2;
}

/*----------------------------------   profile end --------------------------------*/

.shopping-cart-box.active {
    display: block;
}

.shopping-cart-items {
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    display: flex;
    flex-flow: column;
}

.shopping-cart-item {
    position: relative;
    width: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: row;
}

.shopping-cart-item i {
    padding: 10px;
}

.shopping-cart-item img {
    max-width: 65px;
    max-height: 65px;
}

.shopping-cart-item .cart-item-content {
    position: relative;
    display: flex;
    flex-flow: column;
    /* padding-right: 5px; */
}

.shopping-cart-item .cart-item-content span {
    color: #777;
    position: relative;
    padding-right: 5px;
    left: 0;
    bottom: 0;
}

.shopping-cart-total {
    position: relative;
    display: flex;
    flex-flow: column;
}

.shopping-cart-button {
    display: flex;
    text-align: center;
    flex-flow: column;
    color: #191a20;
}

.shopping-cart-button a {
    color: #191a20;
}

.go-to-top {
    position: sticky;
    left: 10px;
    bottom: 10px;
    display: none;

}

.active {
    display: block;
}

.go-to-top-content {
    background-color: #b8b8b8;
    display: flex;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.go-to-top-content i {
    font-size: x-large;
}

/* *********** puya config end ***************** */

.sub-header {
    background-color: #1f272b;
    position: relative;
    z-index: 1111;
}

.sub-header .left-content p {
    color: #fff;
    padding: 8px 0px;
    font-size: 13px;
}

.sub-header .right-icons {
    text-align: right;
    padding: 8px 0px;
}

.sub-header .right-icons ul li {
    display: inline-block;
    margin-left: 15px;
}

.sub-header .right-icons ul li a {
    color: #fff;
    font-size: 14px;
    transition: all .3s;
}

.sub-header .right-icons ul li a:hover {
    color: #f5a425;
}

.sub-header .left-content p em {
    font-style: normal;
    color: #f5a425;
}

.background-header {
    background-color: #fff !important;
    height: 80px !important;
    position: fixed !important;
    top: 0 !important;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}

.background-header .main-nav .nav li a {
    color: #1e1e1e !important;
}

.background-header .logo,
.background-header .main-nav .nav li a {
    color: #1e1e1e !important;
}

.background-header .main-nav .nav li:hover a {
    color: #fb5849 !important;
}

.background-header .nav li a.active {
    color: #fb5849 !important;
}

.header-area {
    background-color: rgba(250, 250, 250, 0.15);
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 100;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

.header-icons {
    position: absolute;
    left: 25px;
    top: -10px;
}

.header-area .main-nav {
    min-height: 60px;
    background: transparent;
    transition: 1s;
}

.header-area .main-nav .logo {
    line-height: 100px;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    float: left;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.background-header .main-nav .logo {
    line-height: 75px;
}

.background-header .nav {
    margin-top: 20px !important;
}

.header-area .main-nav .nav {
    float: right;
    margin-top: 13px;
    margin-right: 0px;
    background-color: transparent;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 999;
}

.header-area .main-nav .nav li {
    padding-left: 15px;
    padding-right: 15px;
}

.header-area .main-nav .nav li:last-child {
    padding-right: 0px;
}

.header-area .main-nav .nav li a {
    display: block;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 40px;
    line-height: 40px;
    border: transparent;
    letter-spacing: 1px;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
    color: #f5a425 !important;
}

.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active {
    color: #f5a425 !important;
    opacity: 1;
}

.header-area .main-nav .nav li.has-sub {
    position: relative;
    padding-right: 15px;
}

.header-area .main-nav .nav li.has-sub:after {
    font-family: FontAwesome;
    content: "\f107";
    font-size: 12px;
    color: #fff;
    position: absolute;
    right: 5px;
    top: 12px;
}

.background-header .main-nav .nav li.has-sub:after {
    color: #1e1e1e;
}

.header-area .main-nav .nav li.has-sub ul.sub-menu {
    position: absolute;
    width: 200px;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
    overflow: hidden;
    top: 40px;
    opacity: 0;
    transition: all .3s;
    transform: translateY(+2em);
    visibility: hidden;
    z-index: -1;
}

.header-area .main-nav .nav li.has-sub ul.sub-menu li {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.header-area .main-nav .nav li.has-sub ul.sub-menu li a {
    opacity: 1;
    display: block;
    background: #f7f7f7;
    color: #2a2a2a !important;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    font-size: 13px;
    font-weight: 400;
    border-bottom: 1px solid #eee;
}

.header-area .main-nav .nav li.has-sub ul li a:hover {
    background: #fff;
    color: #f5a425 !important;
    padding-left: 25px;
}

.header-area .main-nav .nav li.has-sub ul li a:hover:before {
    width: 3px;
}

.header-area .main-nav .nav li.has-sub:hover ul.sub-menu {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}

.header-area .main-nav .menu-trigger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 33px;
    width: 32px;
    height: 40px;
    text-indent: -9999em;
    z-index: 99;
    right: 40px;
    display: none;
}

.background-header .main-nav .menu-trigger {
    top: 23px;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #1e1e1e;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
    background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #1e1e1e;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
    background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    content: "";
}

.header-area .main-nav .menu-trigger span {
    top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
    -moz-transform-origin: 33% 100%;
    -ms-transform-origin: 33% 100%;
    -webkit-transform-origin: 33% 100%;
    transform-origin: 33% 100%;
    top: -10px;
    z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
    -moz-transform-origin: 33% 0;
    -ms-transform-origin: 33% 0;
    -webkit-transform-origin: 33% 0;
    transform-origin: 33% 0;
    top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
    background-color: transparent;
    width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
    -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
    -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
    -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
    transform: translateY(6px) translateX(1px) rotate(45deg);
    background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:before {
    background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger.active span:after {
    -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    transform: translateY(-6px) translateX(1px) rotate(-45deg);
    background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:after {
    background-color: #1e1e1e;
}

.header-area.header-sticky {
    min-height: 60px;
}

.header-area .nav {
    margin-top: 30px;
}

.header-area.header-sticky .nav li a.active {
    color: #f5a425;
}

@media (max-width: 1200px) {
    .header-area .main-nav .nav li {
        padding-left: 7px;
        padding-right: 7px;
    }

    .header-area .main-nav:before {
        display: none;
    }
}

@media (max-width: 767px) {
    .header-area .main-nav .logo {
        color: #1e1e1e;
    }

    .header-area.header-sticky .nav li a:hover,
    .header-area.header-sticky .nav li a.active {
        color: #f5a425 !important;
        opacity: 1;
    }

    .header-area.header-sticky .nav li.search-icon a {
        width: 100%;
    }

    .header-area {
        background-color: #f7f7f7;
        padding: 0px 15px;
        height: 60px;
        box-shadow: none;
        text-align: center;
    }

    .header-area .container {
        padding: 0px;
    }

    .header-area .logo {
        margin-left: 30px;
    }

    .header-area .menu-trigger {
        display: block !important;
    }

    .header-area .main-nav {
        overflow: hidden;
    }

    .header-area .main-nav .nav {
        float: none;
        width: 100%;
        display: none;
        -webkit-transition: all 0s ease 0s;
        -moz-transition: all 0s ease 0s;
        -o-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
        margin-left: 0px;
    }

    .header-area .main-nav .nav li:first-child {
        border-top: 1px solid #eee;
    }

    .header-area.header-sticky .nav {
        margin-top: 100px !important;
    }

    .header-area .main-nav .nav li {
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #eee;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .header-area .main-nav .nav li a {
        height: 50px !important;
        line-height: 50px !important;
        padding: 0px !important;
        border: none !important;
        background: #f7f7f7 !important;
        color: #191a20 !important;
    }

    .header-area .main-nav .nav li a:hover {
        background: #eee !important;
        color: #f5a425 !important;
    }

    .header-area .main-nav .nav li.has-sub ul.sub-menu {
        position: relative;
        visibility: inherit;
        opacity: 1;
        z-index: 1;
        transform: translateY(0%);
        top: 0px;
        width: 100%;
        box-shadow: none;
        height: 0px;
        transition: all 0s;
    }

    .header-area .main-nav .nav li.submenu ul li a {
        font-size: 12px;
        font-weight: 400;
    }

    .header-area .main-nav .nav li.submenu ul li a:hover:before {
        width: 0px;
    }

    .header-area .main-nav .nav li.has-sub ul.sub-menu {
        height: auto;
    }

    .header-area .main-nav .nav li.has-sub:after {
        color: #3B566E;
        right: 30px;
        font-size: 14px;
        top: 15px;
    }

    .header-area .main-nav .nav li.submenu:hover ul,
    .header-area .main-nav .nav li.submenu:focus ul {
        height: 0px;
    }
}

@media (min-width: 767px) {
    .header-area .main-nav .nav {
        display: flex !important;
    }
}


/* 
---------------------------------------------
banner
--------------------------------------------- 
*/

.main-banner {
    position: relative;
    max-height: 100%;
    overflow: hidden;
    margin-bottom: -7px;
}

#bg-video {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}

#bg-video::-webkit-media-controls {
    display: none !important;
}

.video-overlay {
    position: absolute;
    background-color: rgba(31, 39, 43, 0.75);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

.main-banner .caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main-banner .caption h6 {
    margin-top: 0px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

.main-banner .caption h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
}

.main-banner .caption h2 em {
    font-style: normal;
    color: #f5a425;
    font-weight: 900;
}

.main-banner .caption p {
    color: #fff;
    font-size: 14px;
    max-width: 570px;
}

.main-banner .caption .main-button-red {
    margin-top: 30px;
}

@media screen and (max-width: 767px) {

    .main-banner .caption h6 {
        font-weight: 500;
    }

    .main-banner .caption h2 {
        font-size: 36px;
    }

}


/*
---------------------------------------------
services
---------------------------------------------
*/

.services {
    margin-top: -135px;
    position: absolute;
    width: 100%;
}

.services .item {
    background-image: url(../images/service-item-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    padding: 25px 15px;
}

.services .item .icon {
    max-width: 100px;
    /*margin: 0 auto;*/
}

.services .item h4 {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
}

.services .item p {
    color: #fff;
    font-size: 13px;
}

.services .owl-nav {
    display: inline-block !important;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-25px);
}

.services .owl-nav .owl-prev {
    margin-right: 10px;
    outline: none;
    position: absolute;
    left: -80px;
}

.services .owl-nav .owl-prev span,
.services .owl-nav .owl-next span {
    opacity: 0;
}

.services .owl-nav .owl-prev:before {
    display: inline-block;
    font-family: 'FontAwesome';
    color: #1e1e1e;
    font-size: 25px;
    font-weight: 700;
    content: '\f104';
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
}

.services .owl-nav .owl-prev {
    opacity: 1;
    transition: all .5s;
}

.services .owl-nav .owl-prev:hover {
    opacity: 0.9;
}

.services .owl-nav .owl-next {
    opacity: 1;
    transition: all .5s;
}

.services .owl-nav .owl-next:hover {
    opacity: 0.9;
}

.services .owl-nav .owl-next {
    margin-left: 10px;
    outline: none;
    position: absolute;
    right: -85px;
}

.services .owl-nav .owl-next:before {
    display: inline-block;
    font-family: 'FontAwesome';
    color: #1e1e1e;
    font-size: 25px;
    font-weight: 700;
    content: '\f105';
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
}


/*
---------------------------------------------
upcoming meetings
---------------------------------------------
*/

section.school-news {
    background-image: url(../images/meetings-bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 190px;
    padding-bottom: 110px;
}

section.school-news .section-heading {
    text-align: center;
}

section.school-news .categories {
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
    margin-right: 45px;
}

section.school-news .categories h4 {
    font-size: 18px;
    font-weight: 600;
    color: #1f272b;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

section.school-news .categories ul li {
    display: flex;
    /* display: inline-block; */
    margin-bottom: 15px;
}

section.school-news .categories ul li a {
    font-size: 15px;
    color: #1f272b;
    font-weight: 500;
    transition: all .3s;
}

section.school-news .categories ul li a:hover {
    color: #a12c2f;
}

section.school-news .categories .main-button-red {
    border-top: 1px solid #eee;
    padding-top: 30px;
    margin-top: 15px;
}

section.school-news .categories .main-button-red a {
    width: 100%;
    text-align: center;
}

.meeting-item {
    margin-bottom: 30px;
}

.meeting-item .thumb {
    position: relative;
}

.meeting-item .thumb img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.meeting-item .thumb .price {
    position: absolute;
    left: 20px;
    top: 20px;
}

.meeting-item .thumb .price span {
    font-size: 16px;
    color: #1f272b;
    font-weight: 600;
    background-color: rgba(250, 250, 250, 0.9);
    padding: 7px 12px;
    border-radius: 10px;
}

.meeting-item .down-content {
    background-color: #fff;
    padding: 30px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.meeting-item .down-content .date {
    float: left;
    text-align: center;
    display: inline-block;
    margin-right: 20px;
}

.meeting-item .down-content .date h6 {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: #a12c2f;
}

.meeting-item .down-content .date span {
    display: block;
    color: #1f272b;
    font-size: 22px;
    margin-top: 7px;
}

.meeting-item .down-content h4 {
    font-size: 18px;
    color: #1f272b;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 15px;
}

.meeting-item .down-content p {
    margin-left: 50px;
    color: #1f272b;
    font-size: 14px;
}


/*
---------------------------------------------
apply now
---------------------------------------------
*/

section.apply-now {
    position: absolute;
    width: 100%;
    /* background-image: url(../images/apply-bg.jpg); */
    /* background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; */
    padding: 5px 5px;
}

section.apply-now .item {
    background-color: rgba(250, 250, 250, 0.15);
    padding: 40px;
    margin-bottom: 30px;
}

section.apply-now .item h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

section.apply-now .item p {
    color: #fff;
    margin-bottom: 20px;
}

.accordions {
    border-radius: 20px;
    background-color: #fff;
}

.accordions .accordion {
    border-bottom: 1px solid #eee;
}

.accordions .last-accordion {
    border-bottom: none;
}

.accordion-head {
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #1f272b;
    cursor: pointer;
    transition: color 200ms ease-in-out;
    border-bottom: 1px solid #fff;
}

@media screen and (min-width: 768px) {
    .accordion-head {
        padding: 1rem;
        font-size: 1.2rem;
    }
}

.accordion-head .icon {
    float: right;
    transition: transform 200ms ease-in-out;
}

.accordion-head.is-open {
    color: #f5a425;
    border-bottom: none;
}

.accordion-head.is-open .icon {
    transform: rotate(45deg);
}

.accordion-body {
    overflow: hidden;
    height: 0;
    transition: height 300ms ease-in-out;
    border-bottom: 1px solid #fff;
}

.accordion-body > .content {
    padding: 20px;
    padding-top: 0;
}


/* 
---------------------------------------------
courses
--------------------------------------------- 
*/

.sugestion-exams {

    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.sugestion-exams i {
    color: white;
}

.sugestion-exam-container {
    width: 100%;
    overflow: hidden !important;

}

.sugestion-exams .sugestion-exam-container .exam-item {
    display: -webkit-inline-box;
    /* display: flex;
    flex-wrap: wrap; */
    transition: transform 0.9s linear;
    transform: translateX(0);
    width: 100%;
}

.sugestion-exam-container .fa fa-angle-right,
.sugestion-exam-container .fa fa-angle-left {
    font-size: large;
    padding: 10px;
    color: white;
}

.exam-item .item {
    width: 23% !important;
    background-color: gainsboro;
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    /* display: flex; */
    /* flex-flow: column; */
}

.sugestion-exam-container .item img {
    width: 30px;
    height: 30px;
    text-align: center;
}

.sugestion-exam-container .itemh4,
.sugestion-exam-container .itemp,
.sugestion-exam-container i {
    color: white;
}

.sugestion-exam-container i {
    color: white;
    font-size: x-large;
}

/* ********************** */

section.exams {
    background-image: url(../images/meetings-bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 14px;
    padding-bottom: 130px;
}

.exams .item .down-content {
    background-color: #fff;
}

.exams .item .down-content h4 {
    padding: 25px;
    font-size: 18px;
    color: #1f272b;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.exams .item .down-content .info {
    padding: 25px;
}

.exams .item .down-content .info ul li {
    display: inline-block;
    margin-right: 1px;
}

.exams .item .down-content .info ul li i {
    color: #f5a425;
    font-size: 14px;
}

.exams .item .down-content .info span {
    color: #a12c2f;
    font-size: 15px;
    font-weight: 600;
    text-align: right;
    display: inline-block;
    width: 100%;
}

.exams .owl-nav {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-45px);
}

.exams .owl-dots {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 40px;
}

.exams .owl-dots .owl-dot {
    transition: all .5s;
    width: 7px;
    height: 7px;
    background-color: #fff;
    margin: 0px 5px;
    border-radius: 50%;
    outline: none;
}

.exams .owl-dots .active {
    width: 24px;
    height: 8px;
    border-radius: 4px;
}

.exams .owl-nav .owl-prev {
    margin-right: 10px;
    outline: none;
    position: absolute;
    left: -80px;
}

.exams .owl-nav .owl-prev span,
.exams .owl-nav .owl-next span {
    opacity: 0;
}

.exams .owl-nav .owl-prev:before {
    display: inline-block;
    font-family: 'FontAwesome';
    color: #1e1e1e;
    font-size: 25px;
    font-weight: 700;
    content: '\f104';
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
}

.exams .owl-nav .owl-prev {
    opacity: 1;
    transition: all .5s;
}

.exams .owl-nav .owl-prev:hover {
    opacity: 0.9;
}

.exams .owl-nav .owl-next {
    opacity: 1;
    transition: all .5s;
}

.exams .owl-nav .owl-next:hover {
    opacity: 0.9;
}

.exams .owl-nav .owl-next {
    margin-left: 10px;
    outline: none;
    position: absolute;
    right: -85px;
}

.exams .owl-nav .owl-next:before {
    display: inline-block;
    font-family: 'FontAwesome';
    color: #1e1e1e;
    font-size: 25px;
    font-weight: 700;
    content: '\f105';
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
}


/*
---------------------------------------------
our facts
---------------------------------------------
*/

section.our-facts {
    background-image: url(../images/facts-bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 140px 0px 125px 0px;
}

section.our-facts h2 {
    font-size: 38px;
    color: #fff;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
}

.count-area-content {
    text-align: center;
    background-color: rgba(250, 250, 250, 0.15);
    border-radius: 20px;
    padding: 25px 30px 35px 30px;
    margin: 15px 0px;
}

.percentage .count-digit:after {
    content: '%';
    margin-left: 3px;
}

.count-digit {
    margin: 5px 0px;
    color: #f5a425;
    font-weight: 700;
    font-size: 36px;
}

.count-title {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.5px;
}

.new-students {
    margin-top: 45px;
}

section.our-facts .video {
    text-align: center;
    margin-left: 70px;
    background-image: url(../images/video-item-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
}

section.our-facts .video img {
    padding: 170px 0px;
    max-width: 56px;
}


/* 
---------------------------------------------
contact us
--------------------------------------------- 
*/

section.contact-us {
    /*background-image: url(../images/meetings-bg.jpg);*/
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 140px 0px 0px 0px; */
}

section.contact-us #contact {
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
    border: 1px solid #ccc;
}

section.contact-us #contact h2 {
    text-transform: uppercase;
    color: #1f272b;
    border-bottom: 1px solid #eee;
    margin-bottom: 40px;
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
}

section.contact-us #contact input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: #f7f7f7;
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 16px;
    font-weight: 500;
    color: #7a7a7a;
    padding: 0px 15px;
    margin-bottom: 30px;
}

section.contact-us #contact textarea {
    width: 100%;
    min-height: 140px;
    max-height: 180px;
    border-radius: 20px;
    background-color: #f7f7f7;
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 13px;
    font-weight: 500;
    color: #7a7a7a;
    padding: 15px;
    margin-bottom: 30px;
}

section.contact-us #contact button {
    font-size: 17px;
    color: #fff;
    background-color: #a12c2f;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 22px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s;
    border: none;
    outline: none;
}

section.contact-us #contact a {
    font-size: 17px;
    color: #a12c2f;
    background-color: #fff;
    padding: 12px 30px;
    display: inline-block;
    border: 1px solid darkred;
    border-radius: 22px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s;
    /*border: none;*/
    outline: none;
    box-shadow: rgba(10, 10, 10, 0.6);
}

section.contact-us #contact button:hover {
    opacity: 0.9;
}

section.contact-us .right-info {
    background-color: #a12c2f;
    border-radius: 20px;
    padding: 40px;
}

section.contact-us .right-info ul li {
    display: inline-block;
    border-bottom: 1px solid rgba(250, 250, 250, 0.15);
    margin-bottom: 30px;
    padding-bottom: 30px;
}

section.contact-us .right-info ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

section.contact-us .right-info ul li h6 {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

section.contact-us .right-info ul li span {
    display: block;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
}

.footer {
    text-align: center;
    margin-top: 140px;
    border-top: 1px solid rgba(250, 250, 250, 0.15);
    padding: 50px 0px;
}

.footer p {
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}

.footer p a {
    color: #f5a425;
}


/*
---------------------------------------------
heading page
---------------------------------------------
*/

section.heading-page {
    background-image: url(../images/heading-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 230px;
    padding-bottom: 110px;
    text-align: center;
}

section.heading-page h6 {
    margin-top: 0px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

section.heading-page h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
}


/*
---------------------------------------------
upcoming meetings page
---------------------------------------------
*/

section.meetings-page {
    background-image: url(../images/meetings-page-bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 140px;
    padding-bottom: 0px;
}

section.meetings-page .filters {
    text-align: center;
    margin-bottom: 60px;
}

section.meetings-page .filters li {
    font-size: 13px;
    color: #a12c2f;
    background-color: #fff;
    padding: 11px 30px;
    display: inline-block;
    border-radius: 22px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .3s;
    cursor: pointer;
    margin: 0px 3px;
}

section.meetings-page .filters ul li.active,
section.meetings-page .filters ul li:hover {
    background-color: #a12c2f;
    color: #fff;
}

section.meetings-page .pagination {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    display: inline-block;
}

section.meetings-page .pagination ul li {
    display: inline-block;
}

section.meetings-page .pagination ul li a {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    color: #1f272b;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    font-size: 15px;
    transition: all .3s;
}

section.meetings-page .main-button-red {
    text-align: center;
}

section.meetings-page .main-button-red a {
    padding: 12px 60px;
    text-align: center;
    margin-top: 30px;
}

section.meetings-page .pagination ul li.active a,
section.meetings-page .pagination ul li a:hover {
    background-color: #a12c2f;
    color: #fff;
}

.meeting-single-item .thumb {
    position: relative;
}

.meeting-single-item .thumb img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.meeting-single-item .thumb .price {
    position: absolute;
    left: 20px;
    top: 20px;
}

.meeting-single-item .thumb .price span {
    font-size: 16px;
    color: #1f272b;
    font-weight: 600;
    background-color: rgba(250, 250, 250, 0.9);
    padding: 7px 12px;
    border-radius: 10px;
}

.meeting-single-item .down-content {
    background-color: #fff;
    padding: 40px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.meeting-single-item .thumb .date {
    position: absolute;
    background-color: rgba(250, 250, 250, 0.9);
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 15px 0px;
    border-radius: 10px;
    right: 20px;
    top: 20px;
}

.meeting-single-item .thumb .date h6 {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: #a12c2f;
}

.meeting-single-item .thumb .date span {
    display: block;
    color: #1f272b;
    font-size: 22px;
    margin-top: 7px;
}

.meeting-single-item .down-content h4 {
    font-size: 22px;
    color: #1f272b;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 15px;
}

.meeting-single-item .down-content h5 {
    font-size: 18px;
    color: #1f272b;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 15px;
}

.meeting-single-item .down-content p {
    color: #1f272b;
    font-size: 14px;
}

.meeting-single-item .down-content p.description {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #eee;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eee;
}

.meeting-single-item .down-content .share {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #eee;
}

.meeting-single-item .down-content .share h5 {
    float: left;
    margin-right: 10px;
    margin-bottom: 0px;
}

.meeting-single-item .down-content .share ul li {
    display: inline;
}

.meeting-single-item .down-content .share ul li a {
    font-size: 14px;
    color: #1f272b;
    transition: all .3s;
}

.meeting-single-item .down-content .share ul li a:hover {
    color: #f5a425;
}

/* Meeting item column */
.templatemo-item-col {
    width: 31%;
}

@media (max-width: 992px) {
    .templatemo-item-col {
        width: 45%;
    }
}

@media (max-width: 767px) {
    .templatemo-item-col {
        width: 100%;
    }
}

/* 
---------------------------------------------
responsive
--------------------------------------------- 
*/

@media (max-width: 1300px) {
    .services .owl-nav .owl-next {
        right: -30px;
    }

    .services .owl-nav .owl-prev {
        left: -25px;
    }

    .exams .owl-nav .owl-next {
        right: -30px;
    }

    .exams .owl-nav .owl-prev {
        left: -25px;
    }
}

@media (max-width: 1200px) {
    .services .owl-nav .owl-next {
        right: -70px;
    }

    .services .owl-nav .owl-prev {
        left: -65px;
    }

    .exams .owl-nav .owl-next {
        right: -70px;
    }

    .exams .owl-nav .owl-prev {
        left: -65px;
    }
}

@media (max-width: 1085px) {
    .services .owl-nav .owl-next {
        right: -30px;
    }

    .services .owl-nav .owl-prev {
        left: -25px;
    }

    .exams .owl-nav .owl-next {
        right: -30px;
    }

    .exams .owl-nav .owl-prev {
        left: -25px;
    }
}

@media (max-width: 1005px) {
    .services .owl-nav .owl-next {
        display: none;
    }

    .services .owl-nav .owl-prev {
        display: none;
    }

    .exams .owl-nav .owl-next {
        display: none;
    }

    .exams .owl-nav .owl-prev {
        display: none;
    }
}

@media (max-width: 992px) {

    .main-banner .caption {
        top: 60%;
    }

    .main-banner .caption h2 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 22px;
    }

    .main-banner .caption .main-button-red {
        margin-top: 15px;
    }

    .services {
        margin-top: 60px;
    }

    section.school-news {
        padding-top: 400px;
    }

    section.school-news .categories {
        margin-right: 0px;
        margin-bottom: 30px;
    }

    .accordions {
        margin-left: 0px;
    }

    .new-students {
        margin-top: 15px;
    }

    section.our-facts .video {
        margin-left: 0px;
        margin-top: 15px;
    }

    section.contact-us #contact {
        margin-bottom: 30px;
    }

}

@media (max-width: 767px) {

    .sub-header .left-content p {
        display: none;
    }

    .sub-header .right-icons {
        text-align: center;
    }

    .main-nav .nav .sub-menu {
        display: none;
    }

    .header-area .main-nav .nav li ul.sub-menu li a {
        color: #1f272b;
    }

}