{% extends 'shared/_layout.html' %}
{% load static %}

{% block title %}
    اطلاعات دانش آموز
{% endblock %}

{% block content %}
{#    {% include 'shared/header_component.html' %}#}
    <section class="section main-banner my-5" id="top" data-section="section1">
        <div class="container my-5">
                <form action="{% url 'edit_profile' %}" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
{#                    <label for="">نام</label>#}
{#                    {{ form.name }}#}
{#                    <br><br>#}
{#                    <label for="">نام خانوادگی</label>#}
{#                    {{ form.family }}#}
{#                    <br><br>#}
{#                    <label for="">تصویر پروفایل</label>#}
{#                    {{ form.avatar }}#}
                    <br>
                    <button type="submit" class="rounded-3 text-info"> ویرایش اطلاعات </button>
                </form>
            </div>
    </section>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');
        // const nav = document.querySelector('.nav');
        // console.log('nav : ', nav.children);

        var showSection = function showSection(section, isAnimate) {
            var
                direction = section.replace(/#/, ''),
                reqSection = $('.section').filter('[data-section="' + direction + '"]'),
                reqSectionPos = reqSection.offset().top - 0;

            if (isAnimate) {
                $('body, html').animate({
                        scrollTop: reqSectionPos
                    },
                    800);
            } else {
                $('body, html').scrollTop(reqSectionPos);
            }

        };

        var checkSection = function checkSection() {
            $('.section').each(function () {
                var
                    $this = $(this),
                    topEdge = $this.offset().top - 80,
                    bottomEdge = topEdge + $this.height(),
                    wScroll = $(window).scrollTop();
                if (topEdge < wScroll && bottomEdge > wScroll) {
                    var
                        currentId = $this.data('section'),
                        reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                    reqLink.closest('li').addClass('active').siblings().removeClass('active');
                }
            });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
            e.preventDefault();
            showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
            checkSection();
        });

        function riaziExam(lesson) {
            console.log('lesson11: ', lesson);
            $.get('/quiz-riazi', {lesson: lesson}).then(res => {
                console.log('lesson: ', lesson);
            })
        }

        function farsiExam(lesson) {
            console.log('lesson11: ', lesson);
            $.get('/quiz-farsi', {lesson: lesson}).then(res => {
                console.log('lesson: ', lesson);
            })
        }

    </script>
{% endblock %}
