body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    background-image: url(../images/meetings-bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #f5a425;
}

/*.game_2048 {*/
/*    height: 100%;*/
/*    background-image: url(../images/meetings-bg.jpg);*/
/*    background-position: center center;*/
/*    background-attachment: fixed;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    padding-top: 50px;*/
/*    !*padding-bottom: 140px;*!*/
/*}*/

.title {
    width: 422px;
    height: 50px;
    background-color: #e5dec9;
    margin: 30px auto 10px;
    border-radius: 8px;
}

.game_2048 .mark1,
.game_2048 .play,
.game_2048 .time {
    width: 33%;
    font-size: 20px;
}


.game_2048 .play i {
    color: #3fbd31;
    font-size: 30px;
}

.wrapper {
    width: 70vmin;
    height: 70vmin;
    margin: 0 auto 20px;
    background: #aaaca8;
}

.grid {
    width: 100%;
    position: relative;
}

.cell {
    width: 15vmin;
    height: 15vmin;
    margin: 2vmin 2vmin 0 0;
    background: #c5c6be;
    float: left;
}

.cell:nth-child(4n+1) {
    margin-left: 2vmin;
}

.number {
    position: absolute;
    width: 15vmin;
    height: 15vmin;
    font-size: 5vmin;
    font-weight: bold;
    text-align: center;
    line-height: 15vmin;
    background: #933a36;
    color: #fff;
    transition: all 0.3s;
}

#info {
    width: 100%;
    text-align: center;
    font-size: 20px;
    float: left;
    padding: 15px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#points {
    /*width: 90%;*/
    /*text-align: center;*/
    font-size: 20px;
    /*float: left;*/
    /*padding: 5px 5px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-flow: column;*/
    /*margin-top: 10px;*/
}

/*button {*/
/*    background-color: #F44336;*/
/*    outline: none;*/
/*    border: none;*/
/*    color: #FFF;*/
/*    display: block;*/
/*    text-align: center;*/
/*    padding: 10px;*/
/*    font-size: 18px;*/
/*    width: 50%;*/
/*    border-radius: 3px;*/
/*    margin-top: 5px;*/
/*    font-family: IRANSans;*/
/*}*/

